<div id="seat_<%= seat.id %>"
     class="h-7 w-7 rounded cursor-not-allowed bg-slate-400 text-white text-center text-xs leading-7 font-medium ring-1 ring-slate-500"
     title="<%= t("orders.select_seats.taken_tooltip") %>"><%= seat.seat_number %></div>
